name: "Link Check CI"

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  linkcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check Markdown links
        uses: byrnereese/github-action-mkdocs-link-check@v1
        with:
          folder-path: "."
          method: "get"
          fail-on-error: true
          verbose: true
