name: "Link Check CI"

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  schedule:
    - cron: "0 3 * * 0"

jobs:
  linkcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check Markdown links
        uses: lycheeverse/lychee-action@v1
        with:
          folder-path: "."
          method: "get"
          fail-on-error: false
          verbose: true
